.bg-black {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* Tooltip */
.tooltip {
  margin-left: 5px;
}
.tooltip-inner {
  border: 1px solid white;
  /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); */
}
.arrow {
  opacity: 0;
}

/* Social icons */
.social-icons {
  margin: 16px 10px 0 0;
  z-index: 1;
}
.social-icon {
  margin-top: 20px;
  width: 32px;
  height: 32px;
}
#insta {
  border-radius: 4px;
}
.left-container {
  margin: 35px 0 0 30px;
  text-align: center;
  z-index: 1;
}
.goout {
  height: 60px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 10px #7cc6ff);
  filter: drop-shadow(0px 0px 5px #7cc6ff);
}
.goout-anchor {
  margin-bottom: 33px;
}
.calendar {
  height: 40px;
  transform: translate(27%, 0);
  -webkit-transform: translate(27%, 0);
  filter: drop-shadow(0px 0px 1.7px #7cc6ff);
  -webkit-filter: drop-shadow(0px 0px 3px #7cc6ff);
}

/* Main logo */
.center-box {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.logo {
  max-height: 170px;
  margin: 20px;

  animation: logoIntro 2s ease-in-out;
}
.logo-shadow {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(42, 142, 255, 0.7));
  filter: drop-shadow(0px 0px 3px rgba(42, 142, 255, 0.7));
}
@keyframes logoIntro {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    /* transform: scale(0); */
  }
  50% {
    /* transform: scale(1.1); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

/* Menu */
.btns {
  margin: 40px 0 46px 0;
}
.white-button {
  margin: 0 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 100px;
  background-color: white;
  color: black;
  /* box-shadow: 1px 1px 10px rgba(255, 42, 42, 0.4); */

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  transition: all .2s;
}
.btn-loop {
  animation: scaleLoop 3s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes scaleLoop {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}
#jazz {
  /* animation: jazzIntro 5s ease; */
}
#elektronika {
  /* animation: elektroIntro 5.5s ease; */
}
#divadlo {
  /* animation: divIntro 6s ease; */
}
.intro-btn-animation {
  animation: btnIntro 2s ease;
}
@keyframes btnIntro {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0;
    transform: scale(0);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.white-button:link,
.white-button:visited {
}
.white-button:active {
  outline: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.white-button:focus {outline:0;}
.white-button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Písmena */
.pismeno {
  height: 120px;
  visibility: hidden;
}
#hacek, #hacek_, #e_, #s_ {
  position: absolute;
}
#hacek {
  transform: translate(5%, 0);
  -webkit-transform: translate(5%, 0);
}
.cover-container {
  /* background-color: rgb(33, 179, 162); */
  width: 94%;
}
.cover {
  perspective: 150rem;
  -moz-perspective: 150rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  margin: 28px;

  transition: all .2s;
}
.cover:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.8);
}
  .cover_front {
    width: 180px;
    height: 180px;
  }
  .cover_back {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  .cover-in-text {
    width: 200px;
    height: 200px;
    margin: 5px 20px 5px 5px;
  }
  .text-over-image {
    position: absolute; /* Position the background text */
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* padding: 20px; */
    text-align: center;
    vertical-align: middle;
    line-height: 180px;
    margin: 0;
  }

.pcvisible{
  display: flex !important;
  visibility: visible;
 }
.mobilvisible{
  display: none !important;
  visibility: hidden;
}

@media (max-width: 767px) {
  .left-container {
    margin: 30px 0 0 10px;
  }
  .goout {
    max-height: 46px;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
  .center-box {
    top: 62%;
  }
  .btns {
    margin: 20px 0 34px 0;
  }
  .logo {
    height: 100px;
  }
  #l, #e, #t, #i, #s, #tt, #hacek, #ee, #hacek_ {
    max-height: 70px;
    width: auto !important;
  }
  .white-button {
    margin: 0 5px;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 12px;
  }
  .calendar {
    margin-top: 22px;
    max-height: 35px;
    min-height: 35px;
    transform: translate(0, 0);
    filter: drop-shadow(0px 0px 0px #7cc6ff);
    -webkit-filter: drop-shadow(0px 0px 0px #7cc6ff);
  }

  .pcvisible{
    display: none !important;
    visibility: hidden;
  }
  .mobilvisible{
    display: flex !important;
    visibility: visible;
  }
}
