.bg-black {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* Tooltip */
.tooltip {
  margin-left: 5px;
}
.tooltip-inner {
  border: 1px solid white;
  /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7); */
}
.arrow {
  opacity: 0;
}

button i {
  vertical-align: middle;
}
/* Modal fixed footer */
.modal {
  background-color: black;
  /* overflow: hidden; */
}
.modal .modal-footer {
  height: 56px;
  width: 100%;
  /* text-align: right; */
}
.modal.modal-fixed-footer .modal-content {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  max-height: 100%;
  border-radius: none;
  background-color: black;
  /* opacity: 0; */
  /* width: 100%; */
}
.modal.modal-fixed-footer .modal-body {
  margin-bottom: 58px;
  padding-top: 0;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.flex-fix {
  display: -webkit-flex !important;
}
.flex-wrap {
  -webkit-flex-wrap: wrap !important;
}
.justify-content-center {
  -webkit-justify-content: center !important;
}
.justify-content-around {
  -webkit-justify-content: space-around !important;
}
.modal.modal-fixed-footer .modal-footer {
  border-top: none;
  position: absolute;
  bottom: 0;
  /* height: 56px; */
  /* margin-bottom: 0.5rem; */
  pointer-events: auto;
  /* width: auto; */
  background-color: #000000;
}
.artist-gallery-container {
  /* background-color: rgb(33, 179, 162); */
  /* width: 100%; */
  margin: 10px 20px;
}
.artist-title {
  margin-bottom: 20px;
}
.cover-in-text {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

/* Cards */
.card {
  perspective: 50rem;
  -webkit-perspective: 50rem;
  -moz-perspective: 50rem;
  position: relative;
  margin: 20px;
  height: 200px;
  width: 200px;
  border: none;
  background-color: black;
 }
  .card__side {
    height: 100%;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.1); }
    .card__side--front {
      color: white;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      /* border: 1px solid white; */
      /* text-shadow: 0 0 3px rgba(0,0,0,.8); */
      /* background-image: linear-gradient(to right bottom, #2998ff, #5643fa);  */
      /* z-index: 50; */
    }
    .card__picture { height: 100%; }
    .card__side--back {
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      color: white;
      border: 1px solid white;
      background-image: linear-gradient(to right bottom, #2d2c2c, #000000);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card:hover .card__side--front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg); }
      .card:hover .card__side--back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0); }
    .card-text {
      position: absolute;
      top: 75%;
      left: 10%;
      /* transform: translate(-50%, -50%); */
    }
/* Social icons */
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: auto;
  margin: 0 20% 0 0;
  padding: 0;
  /* position: absolute; */
  /* left: 50%; */
  transition: all .5s ease;
}
.menu-button {
  /* margin: 0px 10px; */
  /* padding: 20px 20px; */
  /* margin: 35px 30px 0 0; */
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100px;
  background-color: white;
  color: black;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  transition: all .2s;
}
.social-icons {
  margin: 16px 10px 0 0;
  z-index: 1;
}
.social-icon {
  margin-top: 20px;
  width: 32px;
  height: 32px;
}
#insta {
  border-radius: 4px;
}
.left-container {
  margin: 35px 0 0 30px;
  text-align: center;
  z-index: 1;
}
.goout {
  height: 60px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 10px #7cc6ff);
  filter: drop-shadow(0px 0px 5px #7cc6ff);
}
.goout-anchor {
  margin-bottom: 33px;
}
.calendar {
  height: 40px;
  transform: translate(27%, 0);
  -o-transform: translate(27%, 0);
  -webkit-transform: translate(27%, 0);
  filter: drop-shadow(0px 0px 1.7px #7cc6ff);
  -webkit-filter: drop-shadow(0px 0px 3px #7cc6ff);
}

/* Main logo */
.center-box {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.logo {
  max-height: 170px;
  margin: 20px;

  animation: logoIntro 2s ease-in-out;
  -webkit-animation: logoIntro 2s ease-in-out;
}
.logo-shadow {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(42, 142, 255, 0.7));
  filter: drop-shadow(0px 0px 3px rgba(42, 142, 255, 0.7));
}
@keyframes logoIntro {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    /* transform: scale(0); */
  }
  50% {
    /* transform: scale(1.1); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}
@-webkit-keyframes logoIntro {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

/* Menu */
.btns {
  margin: 40px 0 46px 0;
}
.white-button {
  margin: 0px 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 100px;
  background-color: white;
  color: black;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  transition: all .2s;
}
.modal-button {
  margin: 0px 10px;
  padding: 8px 20px;
  min-height: 40px;
  border: none;
  border-radius: 100px;
  background-color: white;
  color: black;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.modal-icon {
  font-size: 24px;
  font-weight: 500;
  min-height: 100%;
  min-width: 100%;
}
.btn-loop {
  animation: scaleLoop 6s linear;
  animation-iteration-count: infinite;
  -webkit-animation: scaleLoop 6s linear;
  -webkit-animation-iteration-count: infinite;
}
@keyframes scaleLoop {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleLoop {
  0% {
    -webkit-transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
#jazz {
  /* animation: jazzIntro 5s ease; */
}
#elektronika {
  /* animation: elektroIntro 5.5s ease; */
}
#divadlo {
  /* animation: divIntro 6s ease; */
}
.intro-btn-animation {
  animation: btnIntro 2s ease;
  -webkit-animation: btnIntro 2s ease;
}
@keyframes btnIntro {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0;
    transform: scale(0);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes btnIntro {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  10% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.white-button:link,
.white-button:visited {
}
.white-button:active {
  outline: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* .white-button:focus {outline:0;}
.white-button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

/* Písmena */
.pismeno {
  height: 120px;
  visibility: hidden;
}
#hacek, #hacek_, #e_, #s_ {
  position: absolute;
}
#hacek {
  transform: translate(5%, 0);
  -webkit-transform: translate(5%, 0);
}

.pcvisible{
  display: flex !important;
  visibility: visible;
 }
.mobilvisible{
  display: none !important;
  visibility: hidden;
}

@media (max-width: 767px) {
  .bg-black{
    min-height: 400px;
  }
  .left-container {
    margin: 15px 0 0 0px;
  }
  .goout {
    max-height: 50px;
    /* border-radius: 10px; */
    border-radius: 100px;
    -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
  .center-box {
    top: 60%;
  }
  .btns {
    margin: 20px 0 34px 0;
  }
  .logo {
    height: 100px;
  }
  #l, #e, #t, #i, #s, #tt, #hacek, #ee, #hacek_ {
    max-height: 70px;
    width: auto !important;
  }
  .white-button {
    margin: 0px 5px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 12px;
  }
  .menu-button {
    margin-top: 15px;
  }
  .social-icon {
    margin: 14px 0px 0 0
    ;
  }
  .calendar {
    /* margin-top: 22px; */
    max-height: 35px;
    min-height: 35px;
    transform: translate(0, 0);
    filter: drop-shadow(0px 0px 0px #7cc6ff);
    -webkit-filter: drop-shadow(0px 0px 0px #7cc6ff);
  }
  .modal.modal-fixed-footer .modal-content {
    /* background-color: black; */
  }
  .modal.modal-fixed-footer .modal-body {
    /* background-color: black; */
    /* color: white; */
    /* border: 1px solid white; */
  }
  .card {
    height: 110px;
    width: 110px;
    margin: 10px;
  }
  .card__side {
    height: 110px;
  }
  .artist-gallery-container {
    width:100%;
  }

  .pcvisible{
    display: none !important;
    visibility: hidden;
  }
  .mobilvisible{
    display: flex !important;
    visibility: visible;
  }
}
