body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 700; */
  /* font-size: 20px; */
  /* line-height: 1.7; */
}
.logo {
  max-height: 170px;
  margin: 20px;

  -webkit-filter: drop-shadow(0px 0px 8px #2A8EFF);
  filter: drop-shadow(0px 0px 3px rgba(42, 44, 255, 0.8));
}
#hacek, #hacek_ {
  position: absolute;
}
#hacek {
  transform: translate(5%, 0);
  -webkit-transform: translate(5%, 0);
}
.bgColor {
  background-color: rgb(134, 0, 154);
}
.center-block {
  float: none;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.btn {
  margin: 0 20px;
  height: 46px;
  border-radius: 30px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px rgba(255, 42, 42, 0.4);

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  flex-flow: row wrap;
}
.btns {
  margin-top: 40px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-flow: row;
  justify-content: center;
}
.pismena {
  margin-top: 40px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-flow: row;
  justify-content: center;
}
.pismeno-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  justify-content: center;

  -webkit-filter: drop-shadow(0px 0px 4px #2A8EFF);
  filter: drop-shadow(0px 0px 2px #2A8EFF);
}
.pismeno {
  height: 116px;
}
